.home {
    padding: 50px;
    text-align: center;
  }
  
  .home h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .home-buttons {
    margin-top: 30px;
  }
  
  .find-btn,
  .adopt-btn {
    padding: 12px 24px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
  }
  
  .find-btn {
    background-color: #0388FE;
  }
  
  .adopt-btn {
    background-color: #2ecc71;
  }
  